<div class="wrapper-footer-container">
    <div class="wrapper-footer">
        <div class="first-content">
            <div class="one-part">
                <div class="wrapper-logo">
                    <h1>ProJecT</h1>
                </div>
                <div class="wrapper-contact">
                    <p>Subscribe to THE BEST TEAM</p>
                    <div class="wrapper-input-email">
                        <input type="text" placeholder="Email">
                        <div class="wrapper-icon">
                            <mat-icon>navigate_next</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="each-part">
                <div class="wrapper-title">
                    <h5>Top Cars</h5>
                </div>
                <div class="wrapper-content">
                    <ul>
                        <li><a href="">Volkswagen</a></li>
                        <li><a href="">Toyota</a></li>
                        <li><a href="">Lamborghini</a></li>
                        <li><a href="">Ford Motor</a></li>
                        <li><a href="">BMW</a></li>
                    </ul>
                </div>
            </div>
            <div class="each-part">
                <div class="wrapper-title">
                    <h5>Explore</h5>
                </div>
                <div class="wrapper-content">
                    <ul>
                        <li><a href="">Build Serive</a></li>
                        <li><a href="">Repair Service</a></li>
                        <li><a href="">Prduct Brand Car</a></li>
                        <li><a href="">Shipping Car</a></li>

                    </ul>
                </div>
            </div>
            <div class="each-part">
                <div class="wrapper-title">
                    <h5>City-Town</h5>
                </div>
                <div class="wrapper-content">
                    <ul>
                        <li><a href="">Germany- <span>Berlin</span></a></li>
                        <li><a href="">Japan - <span>Tokyo</span></a></li>
                        <li><a href="">Netherlands - <span>Amsterdam</span></a></li>
                        <li><a href="">United States - <span>New York</span></a></li>
                        <li><a href="">France - <span>Paris</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="second-content">
            <div class="copy-right">
                &copy;2023 ProJecT
            </div>
            <div class="policy-tagged">
                <ul>
                    <li><a href="">Terms</a></li>
                    <li><a href="">Privacy policy</a></li>
                    <li><a href="">Legal notice</a></li>
                    <li><a href="">Accessibility</a></li>
                </ul>
            </div>
            <div class="social-media">
                <div class="each-icon">
                    <img src="../../../assets/icons/youtube.png" alt="Youtube">
                </div>
                <div class="each-icon">
                    <img src="../../../assets/icons/facebook.png" alt="Facebook">
                </div>
                <div class="each-icon">
                    <img src="../../../assets/icons/instagram.png" alt="Instagram">
                </div>
                <div class="each-icon">
                    <img src="../../../assets/icons/social.png" alt="LinkIn">
                </div>
                <div class="each-icon">
                    <img src="../../../assets/icons/twitter.png" alt="Twitter">
                </div>
            </div>
        </div>
    </div>
</div>
