<div class="wrapper-header-container">
    <div class="wrapper-header">
        <div class="wrapper-logo">
            <h1>
                Project
            </h1>
        </div>
        <div class="flex-1"></div>
        <div class="wrapper-container-menu">
            <div class="wrapper-menu">
                <ul>
                    <li><a [routerLink]="['/home']" routerLinkActive="active" >Home</a></li>
                    <li><a [routerLink]="['/product']" routerLinkActive="active">Product</a></li>
                    <li><a [routerLink]="['/service']" routerLinkActive="active">Service</a></li>
                    <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>