<div class="wrapper-container-content">
    <div class="wrapper-container">
        <div class="wrapper-button">
            <div class="flex-1"></div>
            <div class="btn-create">
                <button mat-raised-button color="primary" (click)="create()">Upload Image</button>
            </div>
        </div>
        <div class="wrapper-container-table">
            <div class="wrapper-table">
                <table>
                    <thead>
                        <tr>
                            <th width="30%">File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of store?.data">
                            <td class="flex">
                                <ng-container *ngFor="let items of item.files" >
                                <div class="wrapper-image ">
                                    <img [src]="items?.downloadUrl" alt="">
                                </div>
                                 </ng-container>
                            </td>
                            <td>
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="create(item)">
                                      <mat-icon>edit</mat-icon>
                                      <span>Edit</span>
                                    </button>
                                  </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>